.todoListItem button{
    width: 35px;
    margin: 3px;
}

.todoListItemLabel{
    margin-left: 20px;
    line-height: 35px;
}

.todoListItemLabel.important{
    font-weight: bold;
    color: steelblue;

}

.todoListItem.done{
    text-decoration: line-through;
}